h1{
    font-size: 40px;
    color: rgb(9, 255, 0);
    margin: 20px;
}
.ser1{
    border: solid;
    color: black;
    size: 500px;
    border-radius: 10px;

}
img{
    width: 400px;
    height: 400px;
    margin: 20px;
    border-radius: 30px;
}
h2{
    font-size: 60px;
    color: rgb(9, 255, 0);
    margin-left: 10px;
    border: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);

    
}
body{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,165,1) 50%, rgba(252,176,69,1) 100%);
}