/*  .services{
                
    width: 90%;
    height: 70%;
    margin-left: 5%;
    margin-top: 5%;
    margin: 50px auto;
    border: solid black;
    border-radius: 5px; 
} */
.services{
    width: 100%;
    height: fit-content;
    /* margin-left: 5%; */
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 10);
}


 .service{
    width: 70%;
    height: auto;
    color: whitesmoke;
    font-size: 20px;
    margin-top: 50px; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 10);
    position: fixed;
    left: 15%; 
    position: absolute;
    left: 15%;
    top: 30%;
    padding: 25px;
} 
 .ser1{
    margin-top: 2%; 
    float: left;
    width: 10%;
    margin-left: 2%;
    
} 
.class1{
    margin-left: 5%;
    font-size: 25px; 
}


.services a{
    text-decoration: none;
}

 
/* .service{
    width: 70%;
    height: auto;
    color: whitesmoke;
    background-color: transparent;
    font-size: 20px;
    margin-top: 50px; 
    margin-bottom: 10%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 10);
    left: 15%; 
    position: absolute;
    top: 30%;
    padding: 25px;
} 
 .ser1{
    margin-top: 2%; 
    float: left;
    width: 10%;
    margin-left: 2%;
    
} 

body{
    background-attachment: fixed;
    background: linear-gradient(cyan,lightblue,blue);
} */ 
